canvas{
    width:100%; 
    height:100%; 
    background: black; 
}

body, html{
    /* do this to make body take up entire screen space, and no margins means
    canvas will occupy that entire space to the edge of the body */
    height:100%; 
    margin:0;
}